<a href="https://colab.research.google.com/github/mmecius/Data_Exploration_with_Pandas_College_Major_with_Scrapping_Data_from_PayScale/blob/main/Data_Exploration_with_Pandas_College_Major_with_Scrapping_Data_from_PayScale.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

URL = "https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors"

data = requests.get(URL)

In [63]:
page = []
page_index = 1
page_url = f'{URL}/page/{page_index}'
soup = BeautifulSoup(data.text, 'html.parser')
page_data = soup.find('div', class_='pagination')
for i in page_data.find_all('a', class_='pagination__btn',href=True):
    page_number = i.text
    page.append(page_number)

last_page = page[-2].split(',')

def return_last_page(last_page):
    for i in last_page:
        return i

In [64]:
headers = []
for i in headers_raw:
    for j in i:
        headers.append(j)

In [65]:

for i in range(1, int(return_last_page(last_page))+1):
    data = requests.get(f'{URL}/page/{i}')
    print(data)
    soup = BeautifulSoup(data.text, 'html.parser')
    page_data = soup.find('div', class_='pagination')
    table_data = soup.find('table', class_='data-table')
    headers_raw = []
    for i in table_data.find_all('th'):
        title = i.text.split("\n")[:1]
        headers_raw.append(title)

    df = pd.DataFrame(columns = headers)

    for j in table_data.find_all('tr')[1:]:
        row_data = j.find_all('td')
        row = [tr.text.split(':')[1] for tr in row_data]
        length = len(df)
        df.loc[length] = row
        df.to_csv('payscale_data.csv', mode='a')

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [17]:
data = pd.read_csv('payscale_data.csv')

In [18]:
df = pd.DataFrame(data)

In [37]:
df.drop_duplicates()

       Unnamed: 0  Rank  ...  Mid-Career Pay  % High Meaning
0             0.0     1  ...        $182,000             69%
1             NaN  Rank  ...  Mid-Career Pay  % High Meaning
3             1.0     2  ...        $152,300             46%
7             2.0     3  ...        $139,600             67%
12            3.0     3  ...        $139,600             52%
...           ...   ...  ...             ...             ...
11568         4.0   830  ...         $43,300             78%
11575         5.0   831  ...         $42,500               -
11583         6.0   832  ...         $42,300               -
11592         7.0   833  ...         $42,200               -
11602         8.0   834  ...         $38,400             32%

[835 rows x 7 columns]

In [57]:
df.notna()
clean_df = df.dropna().drop('Unnamed: 0', axis='columns').drop_duplicates()

In [59]:
clean_df.head(10)

   Rank  ... % High Meaning
0     1  ...            69%
3     2  ...            46%
7     3  ...            67%
12    3  ...            52%
18    5  ...            49%
25    6  ...            60%
33    7  ...            55%
42    8  ...            79%
52    9  ...            60%
63   10  ...            54%

[10 rows x 6 columns]

In [60]:
clean_df.columns

Index(['Rank', 'Major', 'Degree Type', 'Early Career Pay', 'Mid-Career Pay',
       '% High Meaning'],
      dtype='object')

In [61]:
df.shape

(11603, 7)

In [137]:
soup = BeautifulSoup(data.text, 'html.parser')

In [138]:
page_data = soup.find('div', class_='pagination')

In [139]:
table_data = soup.find('table', class_='data-table')
print(table_data)

<table class="data-table"><thead><tr><th class="csr-col--rank data-table__header data-table__header--active data-table__header--sortable">Rank<i class="icon-sort-up"></i></th><th class="csr-col--school-name data-table__header data-table__header--sortable">Major<i class="icon-sort"></i></th><th class="csr-col--school-type data-table__header">Degree Type</th><th class="csr-col--right data-table__header data-table__header--sortable"><span class="pxl-tooltip " data-for="earlyCareerMedianPay" data-tip="Median salary for alumni with 0-5 years experience">Early Career Pay<span class="icon-reverse icon-circle"><i class="icon-info"></i></span></span><div class="__react_component_tooltip t9d0e070-0b29-4729-be20-5b366f00aef4 place-top type-dark" data-id="tooltip" id="earlyCareerMedianPay"><style>
  	.t9d0e070-0b29-4729-be20-5b366f00aef4 {
	    color: #fff;
	    background: #222;
	    border: 1px solid transparent;
  	}

  	.t9d0e070-0b29-4729-be20-5b366f00aef4.place-top {
        margin-top: -10px;
    }
    .t9d0e070-0b29-4729-be20-5b366f00aef4.place-top::before {
        border-top: 8px solid transparent;
    }
    .t9d0e070-0b29-4729-be20-5b366f00aef4.place-top::after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        bottom: -6px;
        left: 50%;
        margin-left: -8px;
        border-top-color: #222;
        border-top-style: solid;
        border-top-width: 6px;
    }

    .t9d0e070-0b29-4729-be20-5b366f00aef4.place-bottom {
        margin-top: 10px;
    }
    .t9d0e070-0b29-4729-be20-5b366f00aef4.place-bottom::before {
        border-bottom: 8px solid transparent;
    }
    .t9d0e070-0b29-4729-be20-5b366f00aef4.place-bottom::after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        top: -6px;
        left: 50%;
        margin-left: -8px;
        border-bottom-color: #222;
        border-bottom-style: solid;
        border-bottom-width: 6px;
    }

    .t9d0e070-0b29-4729-be20-5b366f00aef4.place-left {
        margin-left: -10px;
    }
    .t9d0e070-0b29-4729-be20-5b366f00aef4.place-left::before {
        border-left: 8px solid transparent;
    }
    .t9d0e070-0b29-4729-be20-5b366f00aef4.place-left::after {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        right: -6px;
        top: 50%;
        margin-top: -4px;
        border-left-color: #222;
        border-left-style: solid;
        border-left-width: 6px;
    }

    .t9d0e070-0b29-4729-be20-5b366f00aef4.place-right {
        margin-left: 10px;
    }
    .t9d0e070-0b29-4729-be20-5b366f00aef4.place-right::before {
        border-right: 8px solid transparent;
    }
    .t9d0e070-0b29-4729-be20-5b366f00aef4.place-right::after {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        left: -6px;
        top: 50%;
        margin-top: -4px;
        border-right-color: #222;
        border-right-style: solid;
        border-right-width: 6px;
    }
  </style></div><i class="icon-sort"></i></th><th class="csr-col--right data-table__header data-table__header--sortable"><span class="pxl-tooltip " data-for="midCareerMedianPay" data-tip="Median salary for alumni with 10+ years experience">Mid-Career Pay<span class="icon-reverse icon-circle"><i class="icon-info"></i></span></span><div class="__react_component_tooltip t545bb13-8bf6-437f-b8b5-124e9500422e place-top type-dark" data-id="tooltip" id="midCareerMedianPay"><style>
  	.t545bb13-8bf6-437f-b8b5-124e9500422e {
	    color: #fff;
	    background: #222;
	    border: 1px solid transparent;
  	}

  	.t545bb13-8bf6-437f-b8b5-124e9500422e.place-top {
        margin-top: -10px;
    }
    .t545bb13-8bf6-437f-b8b5-124e9500422e.place-top::before {
        border-top: 8px solid transparent;
    }
    .t545bb13-8bf6-437f-b8b5-124e9500422e.place-top::after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        bottom: -6px;
        left: 50%;
        margin-left: -8px;
        border-top-color: #222;
        border-top-style: solid;
        border-top-width: 6px;
    }

    .t545bb13-8bf6-437f-b8b5-124e9500422e.place-bottom {
        margin-top: 10px;
    }
    .t545bb13-8bf6-437f-b8b5-124e9500422e.place-bottom::before {
        border-bottom: 8px solid transparent;
    }
    .t545bb13-8bf6-437f-b8b5-124e9500422e.place-bottom::after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        top: -6px;
        left: 50%;
        margin-left: -8px;
        border-bottom-color: #222;
        border-bottom-style: solid;
        border-bottom-width: 6px;
    }

    .t545bb13-8bf6-437f-b8b5-124e9500422e.place-left {
        margin-left: -10px;
    }
    .t545bb13-8bf6-437f-b8b5-124e9500422e.place-left::before {
        border-left: 8px solid transparent;
    }
    .t545bb13-8bf6-437f-b8b5-124e9500422e.place-left::after {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        right: -6px;
        top: 50%;
        margin-top: -4px;
        border-left-color: #222;
        border-left-style: solid;
        border-left-width: 6px;
    }

    .t545bb13-8bf6-437f-b8b5-124e9500422e.place-right {
        margin-left: 10px;
    }
    .t545bb13-8bf6-437f-b8b5-124e9500422e.place-right::before {
        border-right: 8px solid transparent;
    }
    .t545bb13-8bf6-437f-b8b5-124e9500422e.place-right::after {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        left: -6px;
        top: 50%;
        margin-top: -4px;
        border-right-color: #222;
        border-right-style: solid;
        border-right-width: 6px;
    }
  </style></div><i class="icon-sort"></i></th><th class="csr-col--right data-table__header data-table__header--sortable"><span class="pxl-tooltip " data-for="percentHighMeaning" data-tip="% alumni who say their work makes the world a better place">% High Meaning<span class="icon-reverse icon-circle"><i class="icon-info"></i></span></span><div class="__react_component_tooltip tfc30ea7-b661-4191-a85f-c9d124cf0325 place-top type-dark" data-id="tooltip" id="percentHighMeaning"><style>
  	.tfc30ea7-b661-4191-a85f-c9d124cf0325 {
	    color: #fff;
	    background: #222;
	    border: 1px solid transparent;
  	}

  	.tfc30ea7-b661-4191-a85f-c9d124cf0325.place-top {
        margin-top: -10px;
    }
    .tfc30ea7-b661-4191-a85f-c9d124cf0325.place-top::before {
        border-top: 8px solid transparent;
    }
    .tfc30ea7-b661-4191-a85f-c9d124cf0325.place-top::after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        bottom: -6px;
        left: 50%;
        margin-left: -8px;
        border-top-color: #222;
        border-top-style: solid;
        border-top-width: 6px;
    }

    .tfc30ea7-b661-4191-a85f-c9d124cf0325.place-bottom {
        margin-top: 10px;
    }
    .tfc30ea7-b661-4191-a85f-c9d124cf0325.place-bottom::before {
        border-bottom: 8px solid transparent;
    }
    .tfc30ea7-b661-4191-a85f-c9d124cf0325.place-bottom::after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        top: -6px;
        left: 50%;
        margin-left: -8px;
        border-bottom-color: #222;
        border-bottom-style: solid;
        border-bottom-width: 6px;
    }

    .tfc30ea7-b661-4191-a85f-c9d124cf0325.place-left {
        margin-left: -10px;
    }
    .tfc30ea7-b661-4191-a85f-c9d124cf0325.place-left::before {
        border-left: 8px solid transparent;
    }
    .tfc30ea7-b661-4191-a85f-c9d124cf0325.place-left::after {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        right: -6px;
        top: 50%;
        margin-top: -4px;
        border-left-color: #222;
        border-left-style: solid;
        border-left-width: 6px;
    }

    .tfc30ea7-b661-4191-a85f-c9d124cf0325.place-right {
        margin-left: 10px;
    }
    .tfc30ea7-b661-4191-a85f-c9d124cf0325.place-right::before {
        border-right: 8px solid transparent;
    }
    .tfc30ea7-b661-4191-a85f-c9d124cf0325.place-right::after {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        left: -6px;
        top: 50%;
        margin-top: -4px;
        border-right-color: #222;
        border-right-style: solid;
        border-right-width: 6px;
    }

In [140]:
headers_raw = []
for i in table_data.find_all('th'):
    title = i.text.split("\n")[:1]
    headers_raw.append(title)

headers = []
for i in headers_raw:
    for j in i:
        headers.append(j)
        
print(headers)

['Rank', 'Major', 'Degree Type', 'Early Career Pay', 'Mid-Career Pay', '% High Meaning']

In [141]:
df = pd.DataFrame(columns = headers)

In [24]:
print(df.columns)

Index(['Rank', 'Major', 'Degree Type', 'Early Career Pay', 'Mid-Career Pay',
       '% High Meaning'],
      dtype='object')

In [25]:
for j in table_data.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [tr.text.split(':')[1] for tr in row_data]
    length = len(df)
    df.loc[length] = row

In [149]:
df.shape

(9, 6)

In [147]:
df.head()

  Rank                      Major  ... Mid-Career Pay % High Meaning
0  826  Rehabilitation Counseling  ...        $46,100              -
1  827          Addiction Studies  ...        $44,800            83%
2  828          Outdoor Education  ...        $44,200            57%
3  829     Child & Family Studies  ...        $43,600            74%
4  830  Early Childhood Education  ...        $43,300            78%

[5 rows x 6 columns]